### Approach to Merge and Load Large Data Files using Python Pandas

#### 1. Importing pandas for Data Processing

In [9]:
import pandas as pd

#### 2. Loading the ID & Email into the Dataframe df

In [10]:
%%time
File1 = r'C:\Users\prati\Freedommobile\File1.txt'
with open(File1,"r") as file1:
    FileasList = file1.readlines()
    IdEmail=[]
    for line in FileasList:
        SplitLine = [line.strip() for line in line.split(',',1)]
        IdEmail.append(SplitLine)
df = pd.DataFrame(IdEmail)
df.columns = df.iloc[0]
df=df[1:]
df.head()

Wall time: 3.32 ms

0        ID               email
1  43024116     payned @aol.com
2  47735019   oevans@icloud.com
3  53008550       osrin@msn,com
4  66937215     lpalmer@att.net
5  83584259  mchugh@comcast.net

#### 3. Converting the Datatype to Category and Int32 to reduce the memory size

In [11]:
df['ID']=df['ID'].astype(int)
df['email']=df['email'].astype('category')

#### 4. Loading the Name & ID in the DataFrame df1

In [12]:
%%time
File2 = r'C:\Users\prati\Freedommobile\File2.txt'
with open(File2,"r") as file1:
    FileasList = file1.readlines()
    NameId=[]
    for line in FileasList:
        SplitLine = [line.replace('|','').replace(',','').strip() for line in line.split('|',1)]
        NameId.append(SplitLine)
df1 = pd.DataFrame(NameId)
df1.columns = df1.iloc[0]
df1=df1[1:]
df1.head()

Wall time: 3.27 ms

0                 Name        ID
1        Lola Sullivan  43024116
2      Cherelle Ohearn  47735019
3         Harris Guard  53008550
4        Tandra Pooser  66937215
5  Herschel RancourtJr  83584259

#### 5. Converting the Datatype to Category and Int32 to reduce the memory size

In [13]:
df1['ID']=df1['ID'].astype(int)
df1['Name']=df1['Name'].astype('category')

#### 6. Merged the data and saved into text file "merged_df" which contains Name & Email Address

In [16]:
merged_df = df1.merge(df,how='left',on='ID')
merged_df[['Name','email']].to_csv('merged_df.txt',index=False)
merged_df[['Name','email']].head()

0                 Name                  email
0        Lola Sullivan        payned @aol.com
1      Cherelle Ohearn      oevans@icloud.com
2         Harris Guard          osrin@msn,com
3        Tandra Pooser        lpalmer@att.net
4  Herschel RancourtJr     mchugh@comcast.net
5         Gwenn Mckern  njpayne@sbcglobal.net
6       Angeles Romero    caidaperl@gmail.com
7         Laverna Reza     jlbaumga@gmail.com
8          Mark Tussey    kobayasi_at_msn.com
9         Eliz Aldrich        corrada@att.net

#### Points to be Noted:
* Used Python for faster processing.
* This code can handle 2 millions of rows within seconds.
* Assumption: The file is stored in text format with the same delimiters as mentioned in the email &  
certain email addresses are invalid which can be cleaned further.
* The final output/ merged data is stored in text file format.